<div style="display: flex; justify-content: space-around; margin-top: 40px; width: 100%;">
  <div id="instructions">
    <input type="file" (change)="onChange($event)" />
    <div>
    <video
      id="my_video_1"
      class="video-js vjs-default-skin"
      width="640px"
      height="267px"
      controls
      preload="none"
      poster="http://video-js.zencoder.com/oceans-clip.jpg"
      data-setup='{ "aspectRatio":"640:267", "playbackRates": [1, 1.5, 2] }'
    >
      <source
        src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4"
        type="video/mp4"
      />
      <source src="https://vjs.zencdn.net/v/oceans.webm" type="video/webm" />
    </video>

    <div><button (click)="playPause()">Play/Pause</button>
    <button (click)="makeBig()">Big</button>
    <button (click)="makeSmall()">Small</button>
    <button (click)="makeNormal()">Normal</button>
    <button (click)="restart()">Restart</button>
    <button (click)="skip(-10)">Rewind</button>
    <button (click)="skip(10)">Fastforward</button>
  </div>
</div>
  </div>
  <div style="width: 50%">
    <input type="file" (change)="onChange($event)" />
    <kendo-editor
      value="<pre>{{ fileContent }}</pre>"
      style="height: 570px; width: 100%;"
    ></kendo-editor>
  </div>
</div>

<p>{{ time }}</p>

<button type="file" (change)="onChange($event)">Save</button>
<a [href]="fileUrl" download="file.txt">Download</a>

<router-outlet></router-outlet>
